<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 setting">
        <div class="alert alert-danger panel-default login-msg" ng-show="errflag" style="font-size: 13pt;">
            {{errmsg}}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row center" style="text-align: center; font-size: 22pt">
                    <i class="fa fa-align-center fa-credit-card"></i>
                    <br>
                    Advertiser Billing Details &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-info-circle" style="font-size: 14pt"></i>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" style="padding-top: 50px;">
                <div class="col-md-8 col-lg-6 col-xs-10 col-md-offset-2 col-lg-offset-3 col-xs-offset-1">
                    <form role="form" name="settingForm">
                        <fieldset>
                            <div class="form-group">
                                <label for="name">Name/Company Name</label>
                                <input id="name" class="form-control" ng-model="setting.name" name="name" type="text" autofocus required>
                                <span class="require-icon" ng-show="settingForm.name.$error.required">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input id="address" class="form-control" ng-model="setting.address1" name="address" type="text" autofocus required>
                                <span class="require-icon" ng-show="settingForm.address.$error.required">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone No</label>
                                <input id="phone" class="form-control" ng-model="setting.phone" name="phone" type="number" autofocus required>
                                <span class="require-icon" ng-show="settingForm.phone.$error.required">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                                <span class="require-icon" ng-show="settingForm.phone.$error.number">
                                    Invalid Phone number
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="email">E-Mail</label>
                                <input id="email" class="form-control" ng-model="setting.email" name="email" type="email" autofocus required>
                                <span class="require-icon" ng-show="settingForm.email.$error.required">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                                <span class="require-icon" ng-show="settingForm.email.$error.email">
                                    Invalid email Type
                                </span>
                            </div>
                            <div class="col-md-10 col-lg-8 col-xs-12 col-md-offset-1 col-lg-offset-2" style="margin-top: 5%">
                                <button type="button" class="btn btn-default btn-lg pull-left">Cancel</button>
                                <button type="button" ng-click="save(setting)" class="btn btn-info btn-lg pull-right" ng-disabled="!settingForm.$valid">&nbsp;Save&nbsp;</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>