/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .navbar-right {
    margin-right: 50px !important;
  }

  .navbar-header {
    margin-left: 50px;
  }

  .dropdown-menu {
    margin-top: 10px;
  }
}

.navbar-default.grey-menu {
  background-color: #5a5a5a;
}
.nav>li.active>a {
text-decoration: none;
background-color: #ddd;
}

.top-link:hover, .top-link-last:hover {
  background-color: #5a5a5a;
  cursor: pointer;
}
.nav .open>.top-link, .nav .open>.top-link:focus, .nav .open>.top-link:hover, .nav .open>.top-link-last, .nav .open>.top-link-last:focus, .nav .open>.top-link-last:hover {
  background-color: #5a5a5a;
  cursor: pointer;
}

.nav .open>.dropdown-menu li:first-child:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: -29px;
  right: 25px;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ccc;
  border-left: 15px solid transparent;
}

.nav .open>.dropdown-menu li:first-child:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: -25px;
  right: 27px;
  border-top: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #fff;
  border-left: 13px solid transparent;
}

.logo {
  height: 60px;
}

.navbar-brand {
  height: 70px;
  padding: 5px 35px;
}